body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    font-family: Arial, sans-serif;
    text-align: center;
    background-image:url(gym.jpg) ;
}
.container {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    backdrop-filter: blur(50px)
}
.logo{
  height: 100px;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.p1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  color: white;
}
.p2 {
  font-family: monospace;
  color: gold;
}
/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/* Hide table headers on smaller screens */
@media screen and (max-width: 300px) {
  thead {
    display: none;
  }
  tr {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: 12px;
  }
  td {
    display: block;
    text-align: right; /* Align right for better readability */
  }
  td::before {
    content: attr(data-label);
    font-weight: bold;
    float: left;
    text-transform: uppercase;
  }
}
